/*---------------------------------------
  PERSONALIZADAS            
-----------------------------------------*/

:root {
  
  --white-color:                  #ffffff; /* Botões letras menu*/
  --dark-color:                   #AA5F00; /* Fundo letras menu*/
  --primary-color:                #F5BC2A; /* Fundo menu principal*/
  --custom-btn-bg-color:          #F5BC2A;; /* Botões Iniciais*/
  --custom-btn-bg-hover-color:    #32C5F4; /* Botões Iniciais*/
  --p-color:                      #F5BC2A; /* Fundo texto*/
  --link-hover-color:             #32C5F4; /* Link texto*/
  --body-font-family:             'Unbounded', cursive; /* Corpo do projeto*/


  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --btn-font-size:                16px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         30px;
  --border-radius-small:          30px;

  --font-weight-thin:             200;
  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
  height: 100%;
  margin: 0;

}


/*---------------------------------------
  FONTES             
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}



/*---------------------------------------
  NAVEGAÇÃO            
-----------------------------------------*/
.sidebar {
  background: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.navbar {
  background: transparent;
  z-index: 9;
}

.logo-image {
  width: 300px;
  height: auto;
  margin-bottom: 70px;
}

#sidebarMenu .nav-link {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  position: relative;
}

#sidebarMenu .nav-link.active, 
#sidebarMenu .nav-link:hover {
  color: var(--white-color);
}

.navbar-toggler {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 222;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 25px;
  width: 55px;
  height: 55px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  margin: auto;
  width: 25px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 25px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}




/*---------------------------------------
  INICIAL      
-----------------------------------------*/

.hero-section {
  /* A imagem usada */
  background-image: url('../images/img.jpg');
  height: calc(100vh - 0px);
  
  /* Centraliza e dimensiona bem a imagem */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.hero-section .container {
  position: relative;
  z-index: 2;
}




/*---------------------------------------
  Imagens & Vídeos              
-----------------------------------------*/

.img-image {
  border-radius:25px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  transition: all 0.3s;
}

.img-section .custom-block-bg-overlay-image {
  width: 100%;
  position: static;
}

.img-section .custom-block-bg-overlay-wrap {
  position: static;
}




/*---------------------------------------
  PARCEIROS              
-----------------------------------------*/
.parceiro-thumb {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.parceiro-thumb:hover .parceiro-image {
  transform: scale(1.05);
}

.parceiro-image {
  border-radius: var(--border-radius-medium);
  display: block;
  margin: auto;
  transition: all 0.3s;
}




/*---------------------------------------
  CONTATOS               
-----------------------------------------*/

.google-map {
  border-radius: var(--border-radius-medium);
  filter: hue-rotate(175deg);
}




/*---------------------------------------
  RODAPÉ         
-----------------------------------------*/
.site-footer {
  position: relative;
  padding-top: 0;
}


.site-footer strong {
  display: block;
  color: #AA5F00;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}

.site-destaque {
  font-size: 15px;
  color: #F5BC2A;
}




/*---------------------------------------
  SEÇÃO              
-----------------------------------------*/
  .section-padding {
    padding: 100px 50px;
  }
  
  .section-bg {
    background-color: #eeeeee;
  }
  
  .section-overlay {
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.45;
  }
  
  .section-overlay + .container {
    position: relative;
  }
  
  .back-top-icon {
    font-size: var(--h2-font-size);
  }



  
/*---------------------------------------
  SOBREPOSIÇÃO DO FUNDO IMG               
-----------------------------------------*/
.custom-block-bg-overlay-wrap {
  border-radius:25px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  margin: 20px;
  background: #F5BC2A;
  transition: all 0.3s ease;

  
}

.custom-block-bg-overlay-wrap:hover {
  background:  #32C5F4;
  transform: scale(1.04);
}




/*---------------------------------------
  BOTÃO PERSONALIZADO INICIAL             
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-italic {
  font-style: italic;
}




/*---------------------------------------
  ICONES REDE              
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}